.userName {
  position: relative;
  left: 80px;
  top: 50px;
  font-size: 30px;
}
.nameFirstLetter {
  font-size: 50px;
  color:  tomato;
}

.sidebarHr {
  width: 90%;
  position: relative;
  left: 25px;
  border: 1px solid lightgray;
  margin-top: 30px;
}

.sidebar {
  box-shadow: 1px 1px 1px lavender;
  border: 1px solid lightgray;
}

.navButton {
  width: 100% !important;
  padding: 12px !important;
  border-radius: 10px !important;
  background-color: tomato !important;
  font-weight: 700 !important;
  margin-bottom: 10px;
  border: none !important;
  box-shadow: 1px 1px 1px lavender;
  text-align: center !important;
}

.navButton:hover,
.navIcon {
  color: tomato !important;
  background-color: white !important;
  box-shadow: 0.5px 1px 10px lavender !important;
  border: 1px solid lightgray !important;
  border-radius: 50%;
}

.navIcon {
  position: absolute !important;
  right: 20px !important;
  margin-top: -6px !important;
  background-color: white;
  color: tomato;
  padding: 5px 8px;
  border-radius: 20%;
}

.navIcon:hover {
  border-radius: 50%;
}

.navLinks {
  text-decoration: none;
  color: white;
}

.navLinks:hover {
  color: tomato !important;
}


@media screen and (max-width: 1400px) {
  .sidebar {
    display: none !important;
  }
}

